.right{
    float: right;
}

.m5{
    margin: 5px;
}

.sub-title{
    font-weight:bold;
    font-size:2rem;
    margin:1rem;
}

.profile-image-middle{
    max-height:512px; 
    max-width:512px;
}

.alert-message{
    background-color:red;
    color:yellow;
    font-size:2rem;
}

.small{
    font-size: 0.8rem;
}

.comment{
    background-color: rgba(243, 239, 227, 0.8);
    padding: 10px 10px;
    margin: 5px;
    word-break: break-all;
}

.comment_top{
    color: black;
    text-decoration: underline;
    font-size:0.8rem;
}

.comment_text{
    margin: 5px;
    padding: 5px;
    font-size: 1rem;
}

.board{
    background-color: rgba(130, 191, 226,0.8);
    box-shadow:8px 8px rgba(198, 234, 255, 0.8);
    margin: 20px 10px;
    padding: 10px;
    word-break: break-all;
    /*border: 1px solid black;*/
}

.board_base{
    background-color: rgba(235, 212, 114, 0.8);
    box-shadow:8px 8px rgba(255, 232, 198, 0.8);
    margin: 5px 10px;
    padding: 1px 1px;
}

.board_title{
    font-size:2rem;
    margin: 5px 5px;
}

.board_link{
    font-size:1.5rem;
}

.board_description{
    font-size:1rem;
    background-color: rgba(243, 237, 188, 0.8);
    margin: 0px 30px 15px 30px;
    padding: 10px 10px;
}

.paginate_numbers{
    font-size: 1rem;
    text-align: center;
}